In [1]:
import numpy as np
import pandas as pd
from scipy.io import loadmat
import matplotlib.pyplot as plt
import sys
sys.path.append(r"C:\Users\yangshanqi\Documents\lab\labgithubcopy\task_1_version_2")

In [2]:
from kNN_function_with_kFold import kNN_feature_selection_wrap
from kNN_function_with_kFold import kNN_validation
from plot_prediction import kNN_plot_prediction

In [3]:
X_scaled=pd.read_csv("C:\\Users\\yangshanqi\\Documents\\lab\\labgithubcopy\\task_1_version_2\\result\\scaled_train_feature.csv")
y_scaled=pd.read_csv("C:\\Users\\yangshanqi\\Documents\\lab\\labgithubcopy\\task_1_version_2\\result\\train_label.csv")
X_scaled_CNN=pd.read_csv("C:\\Users\\yangshanqi\\Documents\\lab\\labgithubcopy\\task_1_version_2\\result\\X_scaled_CNN.csv")
y_scaled_CNN=pd.read_csv("C:\\Users\\yangshanqi\\Documents\\lab\\labgithubcopy\\task_1_version_2\\result\\y_scaled_CNN.csv")
X_val=pd.read_csv("C:\\Users\\yangshanqi\\Documents\\lab\\labgithubcopy\\task_1_version_2\\result\\scaled_validation_feature.csv")
y_val=pd.read_csv("C:\\Users\\yangshanqi\\Documents\\lab\\labgithubcopy\\task_1_version_2\\result\\validation_label.csv")
X_val=X_val.drop("Unnamed: 0",1)
y_val=y_val.drop("Unnamed: 0",1)

In [4]:
kNN_feature_selection_wrap_result=kNN_feature_selection_wrap (X_scaled,y_scaled,15)

current feature choosen:
('feature0', 'feature1')
the total executing time:  0.5minute
current feature choosen:
('feature0', 'feature2')
the total executing time:  0.6minute
current feature choosen:
('feature0', 'feature3')
the total executing time:  0.5minute
current feature choosen:
('feature0', 'feature4')
the total executing time:  0.5minute
current feature choosen:
('feature1', 'feature2')
the total executing time:  0.5minute
current feature choosen:
('feature1', 'feature3')
the total executing time:  0.6minute
current feature choosen:
('feature1', 'feature4')
the total executing time:  0.6minute
current feature choosen:
('feature2', 'feature3')
the total executing time:  0.6minute
current feature choosen:
('feature2', 'feature4')
the total executing time:  0.6minute
current feature choosen:
('feature3', 'feature4')
the total executing time:  0.5minute

In [5]:
kNN_feature_selection_wrap_result.groupby(['feature0'])['f1_score'].sum()

feature0
feature0    29.110568
feature1    17.807644
feature2    12.218647
feature3     6.690406
Name: f1_score, dtype: float64

In [6]:
kNN_feature_selection_wrap_result.groupby(['feature0'])['BER'].sum()

feature0
feature0     9.772167
feature1    10.509839
feature2     6.753033
feature3     2.937362
Name: BER, dtype: float64

In [8]:
kNN_feature_selection_wrap_result.loc[kNN_feature_selection_wrap_result['BER'].idxmin()]

,label_1_amount,label_2_amount,label 1: label 2 ratio,f1_score,TPR,FPR,BER,time,feature0,feature1
6,10000,10000,1.0,0.776559,0.76840,0.21052,0.22106,0.041864,feature0,feature1
6,10000,10000,1.0,0.772348,0.76242,0.21182,0.22470,0.038445,feature0,feature2
6,10000,10000,1.0,0.788338,0.77570,0.19220,0.20825,0.036898,feature0,feature3
6,10000,10000,1.0,0.776822,0.76146,0.19890,0.21872,0.036944,feature0,feature4
6,10000,10000,1.0,0.649552,0.65418,0.35992,0.35287,0.038301,feature1,feature2
6,10000,10000,1.0,0.709579,0.69780,0.26892,0.28556,0.040237,feature1,feature3
6,10000,10000,1.0,0.702317,0.71306,0.31738,0.30216,0.040979,feature1,feature4
6,10000,10000,1.0,0.713230,0.70208,0.26652,0.28222,0.041363,feature2,feature3
6,10000,10000,1.0,0.690547,0.70760,0.34176,0.31708,0.040693,feature2,feature4
6,10000,10000,1.0,0.733350,0.71670,0.23782,0.26056,0.037255,feature3,feature4

In [12]:
kNN_feature_selection_wrap_result[kNN_feature_selection_wrap_result['BER']<0.22]

,label_1_amount,label_2_amount,label 1: label 2 ratio,f1_score,TPR,FPR,BER,time,feature0,feature1
5,15000,10000,1.50,0.743314,0.71686,0.141267,0.212203,0.047649,feature0,feature3
6,10000,10000,1.00,0.788338,0.77570,0.192200,0.208250,0.036898,feature0,feature3
7,7500,10000,0.75,0.815316,0.81190,0.239600,0.213850,0.031972,feature0,feature3
6,10000,10000,1.00,0.776822,0.76146,0.198900,0.218720,0.036944,feature0,feature4

### validation for that ###

In [14]:
sample_amount=10000
data_ratio=1
kValue = 15
tpr,fpr,BER,f1_score = kNN_validation (X_scaled.loc[:,['feature0','feature3']],y_scaled,X_val.loc[:,['feature0','feature3']],y_val,sample_amount,data_ratio,kValue)

In [15]:
tpr,fpr,BER,f1_score

(0.7962358276643992,
 0.3186547290342608,
 0.26120945068493084,
 0.3974499504003519)

In [4]:
kNN_feature_selection_wrap_result_2=kNN_feature_selection_wrap (X_scaled,y_scaled,100)

current feature choosen:
('feature0', 'feature1')
the total executing time:  1.0minute
current feature choosen:
('feature0', 'feature2')
the total executing time:  1.0minute
current feature choosen:
('feature0', 'feature3')
the total executing time:  1.0minute
current feature choosen:
('feature0', 'feature4')
the total executing time:  1.0minute
current feature choosen:
('feature1', 'feature2')
the total executing time:  1.0minute
current feature choosen:
('feature1', 'feature3')
the total executing time:  1.0minute
current feature choosen:
('feature1', 'feature4')
the total executing time:  1.0minute
current feature choosen:
('feature2', 'feature3')
the total executing time:  1.0minute
current feature choosen:
('feature2', 'feature4')
the total executing time:  1.0minute
current feature choosen:
('feature3', 'feature4')
the total executing time:  1.0minute

In [7]:
kNN_feature_selection_wrap_result_2[kNN_feature_selection_wrap_result_2['BER']<0.21]

,label_1_amount,label_2_amount,label 1: label 2 ratio,f1_score,TPR,FPR,BER,time,feature0,feature1
6,10000,10000,1.00,0.790554,0.78046,0.193900,0.206720,0.074438,feature0,feature1
5,15000,10000,1.50,0.758698,0.72942,0.128907,0.199743,0.093592,feature0,feature3
6,10000,10000,1.00,0.802319,0.78766,0.175760,0.194050,0.074495,feature0,feature3
7,7500,10000,0.75,0.825977,0.82160,0.223653,0.201027,0.064821,feature0,feature3
6,10000,10000,1.00,0.787117,0.76648,0.180980,0.207250,0.074279,feature0,feature4

In [8]:
sample_amount=10000
data_ratio=1
kValue = 100
tpr,fpr,BER,f1_score = kNN_validation (X_scaled.loc[:,['feature0','feature3']],y_scaled,X_val.loc[:,['feature0','feature3']],y_val,sample_amount,data_ratio,kValue)

In [9]:
tpr,fpr,BER,f1_score

(0.823764172335601,
 0.2939827143954123,
 0.23510927102990564,
 0.42651077033656276)

### validation for filter results ###

In [14]:
sample_amount=10000
data_ratio=1
kValue = 15
tpr,fpr,BER,f1_score = kNN_validation (X_scaled.loc[:,['feature0','feature2','feature3']],y_scaled,X_val.loc[:,['feature0','feature2','feature3']],y_val,sample_amount,data_ratio,kValue)

In [15]:
tpr,fpr,BER,f1_score

(0.7985714285714287,
 0.30461875275703754,
 0.25302366209280447,
 0.40830214603574716)